@use '@style/variables.scss' as *;

.user-select {
  width: 140px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: $primary-color;
  color: $white;

  &:hover {
    background-color: #333;
  }
}
