body,
html {
  // width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 1024px;
  min-height: 780px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

// #root {
//   width: 1024px;
//   height: 780px;
// }
