@use '@style/mixins.scss' as *;
@use '@style/variables.scss' as *;

.container {
  margin-left: 120px;
  margin-top: 90px;
  padding-left: 110px;
  padding-top: 70px;
  height: 100vh;
  width: 100%;
}
