@use '@style/mixins.scss' as *;
@use '@style/variables.scss' as *;

.container {
  // margin-left: 120px;
  // margin-top: 90px;
  // padding-left: 110px;
  // padding-top: 70px;
  // height: 1024px;
  // width: 1440px;

  .container__graph {
    display: flex;
  }

  .container__graph-left {
    margin-right: 32px;
    height: 100%;
  }

  .bottom-graph {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}
