@use '../../assets/style/mixins.scss' as *;
@use '../../assets/style/variables.scss' as *;

.container {
  margin-left: 120px;
  margin-top: 90px;
  height: 100vh;
  width: 100%;
  background-color: royalblue;
}
