@use '@style/variables.scss' as *;
@use '@style/mixins.scss' as *;

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 90px;
  background-color: $primary-color;
  display: flex;
  align-items: center;

  img {
    width: 180px;
    height: 60px;
    margin-left: 32px;
  }

  a {
    color: $white;
    font-size: 24px;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }

  .navlinks {
    @include flexJcspAic;
    width: 100%;
    margin: 0 100px;
  }
}
