@use '../../assets/style/variables.scss' as *;

.sidebar {
  position: fixed;
  height: 100%;
  width: 120px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .sidebar__icons {
    display: flex;
    flex-direction: column;
    transform: translateY(-90px);

    img {
      width: 64px;
      height: 64px;
      margin-bottom: 20px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sidebar__copyright {
    position: absolute;
    bottom: 200px;
    width: 150px;
    color: $white;
    font-size: 12px;
    transform: rotate(-90deg);
  }
}
