.topGraph {
  box-shadow: 0px 2px 4px 0px #00000005;
  background-color: #fbfbfb;
  border-radius: 6px;
  height: 230px;
  width: 835px;

  h2 {
    font-size: 15px;
    padding: 20px 0 0;
  }

  // Space between the legend items
  .recharts-legend-item:first-child {
    margin-right: 32px !important;
  }
  // Color of the legend text
  .recharts-legend-item-text {
    color: #74798c !important;
  }
}
